<aside class="sidebar">
    <header class="sidebar-header">
        <a href="#/dashboard"><img src="images/logo.png" alt="Camp Gladiator logo" class="sidebar-logo"></a>
    </header>
    <div class="sidebar-wrapper">
        <img src="images/trainer.jpg" alt="trainer photo" class="user-photo">
        <h3 class="trainer-name">Dwamian Mcleish</h3>
        <p class="trainer-rank">CG Elite</p>
    </div>
    <section class="sidebar-section">
        <h2 class="sidebar-title">Income Overview</h2>
        <div class="panel-group">
            <div class="panel panel-full">
                <h3>Last Pay Period</h3>
                <p class="current-payment">$40,000 <span>+$15,000</span></p>
            </div>
            <div class="panel panel-half">
                <h3>Year to Date</h3>
                <p>$150,000</p>
            </div>
            <div class="panel panel-half">
                <h3>Lifetime</h3>
                <p>$900,000</p>
            </div>
        </div>
    </section>
    <section class="sidebar-section">
        <h2 class="sidebar-title">Performance Tiers</h2>
        <div class="panel-group">
            <div class="panel panel-half">
                <h3>CG Leader</h3>
                <p>$40,000</p>
            </div>
            <div class="panel panel-half">
                <h3>Elite Escape</h3>
                <p>$75,000</p>
            </div>
            <div class="panel panel-half">
                <h3>CG Excellence</h3>
                <p>$76,000</p>
            </div>
            <div class="panel panel-half">
                <h3>CG Elite</h3>
                <p>$100,000+</p>
            </div>
        </div>
    </section>
</aside>

<div class="dashboard">
    <header class="dashboard-header">
        <nav class="dashboard-nav">
            <ul>
                <li><a href="#"><i class="fa fa-dollar" aria-hidden="true"></i> Income</a></li>
                <li><a href="#"><i class="fa fa-area-chart" aria-hidden="true"></i> Reports</a></li>
                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i> Scoreboard</a></li>
                <li><a href="#"><i class="fa fa-trophy" aria-hidden="true"></i> Awards</a></li>
                <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i> Account</a></li>
                <li><a href="#/"><i class="fa fa-power-off" aria-hidden="true"></i> Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
        <section class="dashboard-module">
            <h2 class="dashboard-module-title">Camp Performance</h2>
            <div class="dashboard-module-wrapper">
                <table>
                </table>
            </div>
        </section>
        <section class="dashboard-module">
            <h2 class="dashboard-module-title">Locations</h2>
            <div class="dashboard-module-wrapper">
                <p>Some content here...</p>
            </div>
        </section>
        <section class="dashboard-module">
            <h2 class="dashboard-module-title">Activity Feed</h2>
            <div class="dashboard-module-wrapper">
                <p>Some content here...</p>
            </div>
        </section>
    </div>
</div>
