<sidebar></sidebar>

<div class="dashboard">
    <dashboard-header></dashboard-header>

    <div class="content">
        <section class="dashboard-module">
            <h2 class="dashboard-module-title">Performance Summary</h2>
            <div class="dashboard-module-wrapper">
                <div class="panel panel-quarter">
                    <h3>Total Campers</h3>
                    <p>387</p>
                </div>
                <div class="panel panel-quarter">
                    <h3>Ranking Percentile</h3>
                    <p>93%</p>
                </div>
                <div class="panel panel-quarter">
                    <h3>Conversion Rate</h3>
                    <p>0%</p>
                </div>
                <div class="panel panel-quarter">
                    <h3>Monthly Signups Goal</h3>
                    <p>12</p>
                </div>
            </div>
        </section>
        <section class="dashboard-module">
            <h2 class="dashboard-module-title">Performance Drilldown</h2>
            <div class="dashboard-module-wrapper">
                <table class="table">
                    <tr>
                        <th>&nbsp;</th>
                        <th>bold</th>
                        <th>new</th>
                        <th>new bold</th>
                        <th>total campers</th>
                        <th>conversion rate</th>
                        <th>cancel rate</th>
                    </tr>
                    <tr>
                        <th>Team</th>
                        <td>2,751</td>
                        <td>38</td>
                        <td>6</td>
                        <td>2,688</td>
                        <td>16%</td>
                        <td>0%</td>
                    </tr>
                    <tr class="highlighted">
                        <th>You</th>
                        <td>342</td>
                        <td>2</td>
                        <td>0</td>
                        <td>336</td>
                        <td>0%</td>
                        <td>0%</td>
                    </tr>
                </table>
            </div>
        </section>
        <section class="dashboard-module">
            <h2 class="dashboard-module-title">Locations</h2>
            <div class="dashboard-module-wrapper">
                <table class="table">
                    <tr>
                        <th class="align-left">Location Name</th>
                        <th>Campers</th>
                        <th>Bold</th>
                        <th>% Split</th>
                        <th>Total</th>
                    </tr>
                    <tr>
                        <td class="align-left">South Austin: Alamo Draft House</td>
                        <td>104</td>
                        <td>106</td>
                        <td>100</td>
                        <td>104</td>
                    </tr>
                    <tr>
                        <td class="align-left">South Austin: Kocurek Elementary</td>
                        <td>31</td>
                        <td>32</td>
                        <td>100</td>
                        <td>31</td>
                    </tr>
                    <tr>
                        <td class="align-left">South Austin: Kocurek Elementary</td>
                        <td>112</td>
                        <td>114</td>
                        <td>100</td>
                        <td>112</td>
                    </tr>
                    <tr>
                        <td class="align-left">Central Austin: Butler Park</td>
                        <td>30</td>
                        <td>30</td>
                        <td>100</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <td class="align-left">Central Austin: Circle C</td>
                        <td>49</td>
                        <td>49</td>
                        <td>100</td>
                        <td>49</td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
</div>
