<div class="login-container">
    <img src="images/logo.png" class="logo" alt="Camp Gladiator Logo">
    <form class="login-form" action="#/dashboard" method="POST">
        <div class="login-form-wrap login-heading">
            <h1>Login</h1>
            <p>Use the simple form below to login to your account.</p>
        </div>
        <div class="form-group">
            <label for="username">username:</label>
            <input type="text" name="username">
        </div>
        <div class="form-group">
            <label for="password">password:</label>
            <input type="password" name="password">
        </div>
        <input type="submit" name="submit" class="submit" value="login">
        <p class="forgot-pass"><a href="#">Forgot pass?</a></p>
    </form>
</div>
