<header class="dashboard-header">
    <nav class="navbar navbar-default">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar top"></span>
            <span class="icon-bar mid"></span>
            <span class="icon-bar bottom"></span>
        </button>
        <div class="navbar-left sidebar-toggle">
            <button class="fa fa-arrow-circle-o-left sidebar-toggle-button"></button>
        </div>
        <div class="collapse navbar-collapse" id="navbar" class="dashboard-nav">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/income"><i class="fa fa-dollar" aria-hidden="true"></i> Income</a></li>
                <li><a href="#/reports"><i class="fa fa-area-chart" aria-hidden="true"></i> Reports</a></li>
                <li><a href="#/scoreboard"><i class="fa fa-star" aria-hidden="true"></i> Scoreboard</a></li>
                <li><a href="#/awards"><i class="fa fa-trophy" aria-hidden="true"></i> Awards</a></li>
                <li><a href="#/account"><i class="fa fa-cog" aria-hidden="true"></i> Account</a></li>
                <li><a href="#/logout"><i class="fa fa-power-off" aria-hidden="true"></i> Logout</a></li>
            </ul>
        </div>
    </nav>
</header>
